body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list {
    list-style-type: lower-alpha;
}
.list2 {
    list-style-type: lower-alpha;
}
.list3 {
    list-style-type: lower-alpha;
}
.list4 {
    list-style-type: lower-alpha;
}
.list5 {
    list-style-type: lower-alpha;
}
.list6 {
    list-style-type: lower-alpha;
}
.list7 {
    list-style-type: lower-alpha;
}
.list8 {
    list-style-type: lower-alpha;
}
.list9 {
    list-style-type: lower-alpha;
}
.list10 {
    list-style-type: lower-alpha;
}
