body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list {
    list-style-type: lower-alpha;
}
.list2 {
    list-style-type: lower-alpha;
}
.list3 {
    list-style-type: lower-alpha;
}