
h1 {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
    text-decoration-color: rgb(233, 39, 136);
    text-transform: capitalize;
    font-family: "Amaranth", sans-serif;
    text-align: center;
    
}
p{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
}
h1, p {
  margin: 30px;
}